<div class="container">
  <div class="row-fluid">
    <div class="col-sm-12 title">
      <h5>Instructors</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="col-sm-12 main">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Instructor ID</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><%= user.instructor_id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

