<div class="container">
  <div class="row-fluid">
  <div class="col-sm-3 sidebar">
    <h5 class="title">Submit Training Types</h5>
    <div class="main">
      <ul class="list-unstyled">
        <li><%= link_to "Create a New Training Record", new_training_record_path %></li>
        <li><%= link_to "Cockpit Procedures Training", new_cockpit_procedures_training_path %></li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-9 title">
      <h5>Training Records</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="col-sm-9 main">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Type of Training</th>
            <th>Trainee</th>
          </tr>
        </thead>

        <tbody>
          <% @training_records.each do |training_record| %>
            <tr>
              <td><%= training_record.type_of_training %></td>
              <td><%= training_record.trainee.present? ? (link_to "#{training_record.trainee.first_name} #{training_record.trainee.last_name}", training_record) : " " %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
